<div class="logo-wrapper">
  <a routerLink="/">
    <img
      class="img-fluid"
      src="../../../../../assets/icons/logo.jpg"
      alt="Logo"
      width="90"
    />
  </a>

  <div class="back-btn" (click)="layoutService.toggleSidebar()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>

  <div class="toggle-sidebar" (click)="layoutService.toggleSidebar()">
    <i class="fa-solid fa fa-thumb-tack"></i>
  </div>
</div>


<nav class="sidebar-main">
  <div
    id="left-arrow"
    class="left-arrow"
    [ngClass]="{ 'd-none': !showLeftArrow }"
  >
  </div>

  <div id="sidebar-menu" class="custom-sidebar" style="margin-left: 0px">
    <ul>
      <div class="simplebar-content">
        @for (route of permittedRoutes; track $index) {
          @if (route.data && route.data['showInSidebar']) {
          <li class="sidebar-list">
              <a
                routerLink="{{route.path}}"
                routerLinkActive="active"
                class="sidebar-link sidebar-title"
              >
                <span class=" icon {{route.data['icon']}}"> </span>
                <span>{{route.data['name']}}</span>
              </a>
            </li>
          }
        }
      </div>
    </ul>
  </div>

  <div
    class="right-arrow"
    id="right-arrow"
    [ngClass]="{ 'd-none': !showRigthArrow }"
  >

  </div>
</nav>
