<div class="page-header" [ngClass]="{ close_icon: !layoutService.sidebarOpen }">
  <div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
      <div class="logo-wrapper">
        <a routerLink="/" class="w-100 h-100">
          <img src="../../../../../assets/icons/logo.svg" alt="Logo" width="100%" height="100%"/>
        </a>
      </div>

      <div class="toggle-sidebar" (click)="layoutService.toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div
      class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto"
    >
      <ul class="nav-menus mb-0">
        <li class="topbar-custom profile-nav onhover-dropdown pe-2 py-0">
            <a routerLink="/app/outfits" class="btn button-tertiary">Crear Outfit</a>
        </li>
        <li class="profile-pipe">
          |
        </li>
        <li class="topbar-custom profile-nav onhover-dropdown pe-0 py-0">
          <app-my-account></app-my-account>
        </li>
      </ul>
    </div>
  </div>
</div>
