@import "../../../../../assets/functions/functions.scss";


.text-card-format{
  font-weight: lighter;
}

.card-format{
  position: relative;
  border-radius: 1vmin;
  width: 100%;
  height: 161px;
  &:hover{
    .image-format{
      transition: transform 0.2s ease-in-out, max-width 0.2s ease-in-out, max-height 0.2s ease-in-out;
      width: 75%;
      height: 75%;
    }
  }
}

.image-format{
  width: 70%;
  height: 70%;
}

.card-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 0.5vmin;
  border: 1px solid gray;
  background-color: white;
  .check-color{
    width: 90%;
    color: white;
  }
}

.card-checkbox-active {
  width: 25px;
  height: 25px;
  border-radius: 0.5vmin;
  padding: 0 0 0 1.5%;
  background-color: vcloset-color(accent-default);
  border-width: 0;
  .check-color{
    width: 90%;
    color: white;
  }
}

.highlight{
  border: 2px solid vcloset-color(accent-default);
}
.title-format{
  font-size: medium;
  font-weight: lighter;
  color: dimgrey;
}

input:checked+.slider {
  background-color: #FF4C3C;
}

input:checked+.slider:before {
  transform: translateX(14px);
}

swiper-container::part(bullet-active){
  background-color: vcloset-color(accent-default);
}

swiper-container::part(button-next){
  color: darkgray;
  width: 15%;
  height: 15%;
  &:hover{
    color: gray;
  }
}

swiper-container::part(button-prev) {
  color: darkgray;
  width: 15%;
  height: 15%;

  &:hover {
    color: dimgrey;
  }
}