<section class="section-styles">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div data-aos="zoom-in" data-aos-duration="600"
             class="row d-flex justify-content-center align-items-center w-100">
            @if (!showLottie) {
                <div class="col-4 shadow-lg p-5 rounded rounded-lg bg-white">
                    <div class="w-100 d-flex justify-content-center align-items-center mb-4">
                        <img src="https://res.cloudinary.com/dklipon9i/image/upload/v1730751714/dz3joobybnw1u2myizwd.svg"
                             alt="logo-vcloset" width="200px">
                    </div>
                    <h4 class="text-center mb-4">Actualiza tu Contraseña</h4>
                    <form [formGroup]="form" class="px-4">
                        <div class="mb-3">
                            <div class="w-100 d-flex justify-content-left">
                                <label for="password" class="ps-2 form-label text-secondary"><small>Nueva
                                    Contraseña</small></label>
                            </div>
                            <div class="input-group">
                                <input class="form-control input-style-left" formControlName="password" id="password"
                                       [type]="showPassword ? 'text' : 'password'" placeholder="********">
                                <div class="input-group-prepend">
                                <span class="input-group-text h-100 input-style"><i
                                        class="fa-solid fa-eye show-password-button" (mousedown)="togglePassword()"
                                        (mouseup)="togglePassword()"></i></span>
                                </div>
                            </div>

                            @if (showErrorMessage) {
                                <div class="w-100 d-flex justify-content-start pt-2">
                                    <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                                    <small class="fts-italic text-danger">{{ errorMessage }}</small>
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <div class="w-100 d-flex justify-content-left">
                                <label for="password" class="ps-2 form-label text-secondary"><small>Nueva
                                    Contraseña</small></label>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control input-style-left-right"
                                       formControlName="passwordConfirmation" id="passwordConfirmation"
                                       placeholder="********">
                            </div>
                            @if (showMissmatchErrorMessage) {
                                <div class="w-100 d-flex justify-content-left pt-2">
                                    <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                                    <small class="fts-italic text-danger">{{ missmatchErrorMessage }}</small>
                                </div>
                            }
                        </div>
                        <div class="w-100 d-flex justify-content-center ">
                            <button (click)="callResetPassword()" class="mt-3 btn button-default" type="button"><i
                                    class="fa-regular fa-circle-check me-1"></i>Confirmar
                            </button>
                        </div>
                    </form>
                </div>
            } @else {
                <iframe src="https://lottie.host/embed/8d4e4e23-0a29-44f3-89c7-b55beda109f8/YD1rWd1hsO.json"></iframe>
            }
        </div>
    </div>
</section>