<div class="shadow-sm bg-body rounded px-4 py-4 h-100 profile-container">
  <div class="profile-title mx-3 my-3">
    <h3>Perfil de Usuario</h3>
  </div>
    <div class="form-container shadow-sm bg-body rounded">
      <div class="col-md-6">
        <h5 class="mx-3">Datos Personales</h5>
        <form #form="ngForm" (ngSubmit)="handleUpdate($event)" autocomplete="off" >
          <!-- <div class="profile-picture-container mx-3 col-md-3">
            <img src="{{profileService.user$().picture}}" alt="foto de perfil" class="profile-picture" />
  
            IMPLEMENTACION DEL DROPZONE PARA LA IMAGEN DE PERFIL TBD
            <div class="col-md-3">
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Click para subir la imagen</ngx-dropzone-label>
                <ngx-dropzone-image-preview style="width: 100%;" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div> -->

          <div class="profile-picture-container mx-3 col-md-3">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>
                <img src="{{updateForm.picture}}" alt="foto de perfil" class="profile-picture" />
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview 
                *ngFor="let f of files" 
                [file]="f" 
                [removable]="true" 
                (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>

          <!-- <div class="mx-3 col-md-3 position-relative">
            <img src="{{profileService.user$().picture}}" alt="foto de perfil" class="profile-picture" />

            <ngx-dropzone (change)="onSelect($event)" class="dropzone-overlay">
              <ngx-dropzone-label>
                <i class="fa-solid fa fa-camera profile-picture-container2"></i>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview 
                *ngFor="let f of files" 
                [file]="f" 
                [removable]="true" 
                (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div> -->
         

          <!-- <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Nombre:</label>
            <input #name="ngModel"
              type="text" 
              id="name"
              name="name"
              style="border-radius: 6PX;"
              class="form-control"
              [(ngModel)]="updateForm.name"
            />
          </div> -->

          <div *ngIf="!editMode" class="edit-pen mx-3 my-3">
            <button (click)="toggleEditMode()" class=" btn button-default">
              <i class="fas fa-pen"></i>
              <span>Editar Perfil</span>
            </button>
          </div>
          
          <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Nombre:</label>
            <p *ngIf="!editMode" >{{ updateForm.name }} </p>
            <input *ngIf="editMode"
              [(ngModel)]="updateForm.name"
              [ngModelOptions]="{standalone: true}"
              class="form-control"/>
          </div>

          <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Apellido:</label>
            <p *ngIf="!editMode" >{{ updateForm.lastname }} </p>
            <input *ngIf="editMode"
              [(ngModel)]="updateForm.lastname"
              [ngModelOptions]="{standalone: true}"
              class="form-control"/>
          </div>

          <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Email:</label>
            <p *ngIf="!editMode" >{{ updateForm.email }} </p>
            <input *ngIf="editMode"
              [(ngModel)]="updateForm.email"
              [ngModelOptions]="{standalone: true}"
              class="form-control"/>
          </div>

          <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Fecha de Nacimiento:</label>
            <p *ngIf="!editMode" >{{ updateForm.dateOfBirth }} </p>
            <input *ngIf="editMode"
              [(ngModel)]="updateForm.dateOfBirth"
              [ngModelOptions]="{standalone: true}"
              class="form-control"
              type="date"/>
          </div>
          
          <div class="my-3 mx-3 col-md-6 profile-input">
            <label class="py-1">Dirección:</label>
            <p *ngIf="!editMode" >{{ updateForm.direction }} </p>
            <input *ngIf="editMode"
              [(ngModel)]="updateForm.direction"
              [ngModelOptions]="{standalone: true}"
              class="form-control"/>
          </div>


          <div class="form-group mb-0">
            <button *ngIf="editMode" (click)="handleUpdate($event)"  class="btn button-default mx-3 my-3" type="button">Actualizar</button>
            <button *ngIf="editMode" (click)="cancelEdit()"  class="btn btn-outline-primary mx-3 my-3" type="button">Cancelar</button>

          </div>

        </form>
    </div>

    <div class="shadow-sm bg-body rounded col-md-6">
      <h5 class="mx-3 my-2">Administración de Cuenta</h5>

      <div class="my-4 mx-3 col-md-6 profile-input privacy-container">
        <label>Perfil Privado:</label>
        <input class="mx-3" type="checkbox" [checked]="profileService.user$().isProfileBlocked === true" />
      </div>
      <div class="my-4 mx-3 col-md-6 profile-input">
        <a (click)="modalService.displayModal('md', changePasswordModal)" class="text-default change-password" >Cambiar Contraseña</a>
        <!-- <input type="button" value="Cambiar Contraseña" class="btn btn-light"/> -->
        <!-- <button (click)="modalService.displayModal('md', addOrdersModal)" type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button> -->
      </div>
      <!-- <div class="my-4 mx-3 col-md-3 profile-input">
        <input type="button" value="Eliminar Cuenta" class="btn btn-danger"/>
      </div> -->

      <div class="my-4 mx-3 col-md-3 profile-input">
        <a (click)="modalService.displayModal('md', deleteAccountModal)" class="text-danger delete-account">Eliminar Cuenta</a>
        <!-- <input type="button" value="Eliminar Cuenta" class="btn btn-danger"/> -->
      </div>
      
      <div class="my-4 mx-3">
        <label>Última Actualización:</label>
        <p>{{profileService.user$().updatedAt | date:'dd/MM/YYYY'}}</p>
      </div>
    </div>
  </div>
</div>


<ng-template #changePasswordModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-password-form
        [changePasswordForm] = "changePasswordForm"
      />
    </div>
  </app-modal>
</ng-template>


<ng-template #deleteAccountModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-confirmation-form
        [confirmationForm] = "confirmationForm"
      />
    </div>
  </app-modal>
</ng-template>