<form [formGroup]="outfitsForm" class="py-4 custom-pop-up">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <a class="custom-underline me-3" [ngClass]="{'isActive': outfitCreationOption ==='manual'}"
                   (click)="setOutfitCreationOption('manual')">Manual</a>
                <a class="custom-underline me-3" [ngClass]="{'isActive': outfitCreationOption ==='random'}"
                   (click)="setOutfitCreationOption('random')">Aleatiorio</a>
                <div class="ms-2 p-1 dropdown">
                    <button class="btn button-dropdown dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ dropdownOptionSelected }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('CASUAL')">Casual</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('FORMAL')">Formal</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('SEMI_FORMAL')">Semi Formal</a>
                        </li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('SPORTSWEAR')">Deportivo</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('BEACHWEAR')">Playero</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('TRAVEL')">Viaje</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('FESTIVAL')">Festival</a></li>
                        <li><a class="dropdown-item" (click)="setOutfitCreationOption('STREETWEAR')">Callejero</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 px-4 mt-1">
            <div class="custom-divider"></div>
        </div>
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-6">
            <div class="col-12 mb-2">
                <label for="name"><small>Nombre de la prenda</small></label>
            </div>
            <div class="col-12">
                <input  type="text" class="form-control" id="name"
                       placeholder="Nombre prenda">
            </div>
        </div>
        @if (outfitCreationOption === 'manual') {
            <div class="col-6">
                <div class="col-12 mb-2">
                    <label for="dropdown-style"><small>Estilo <span class="fst-italic">(Opcional)</span></small></label>
                </div>
                <div class="col-12">
                    <div class="dropdown w-100" id="dropdown-style">
                        <button class="btn button-dropdown dropdown-toggle w-100 d-flex justify-content-between align-items-center"
                                type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {{ dropdownOptionSelected }}
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('CASUAL')">Casual</a></li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('FORMAL')">Formal</a></li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('SEMI_FORMAL')">Semi
                                Formal</a>
                            </li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('SPORTSWEAR')">Deportivo</a>
                            </li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('BEACHWEAR')">Playero</a></li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('TRAVEL')">Viaje</a></li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('FESTIVAL')">Festival</a></li>
                            <li><a class="dropdown-item" (click)="setOutfitCreationOption('STREETWEAR')">Callejero</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        } @else {
            <div class="col-6 d-flex align-items-end">
                <div class="col-12">
                    <button class="btn button-secondary w-100" data-aos="zoom-in" data-aos-duration="200"><i class="bi bi-stars" (click)="getOutfitRandom()"></i> Generar</button>
                </div>
            </div>
        }
    </div>

    <div class="row mb-5">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="col-12">
                <div class="mb-2">
                    <label for="preview"><small>Previsualización</small></label>
                </div>
                <div class="card-custom shadow-sm d-flex justify-content-center align-items-center">
                    <img id="preview" class="image-format"
                         src="https://res.cloudinary.com/dklipon9i/image/upload/v1731214811/gojirajacket2_pnrrq8.webp"
                         alt="preview-outfit-clothing">
                </div>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-center gap-3">
                @if (outfitCreationOption==='manual'){
                    <div class="col-12">
                        <button class="btn button-secondary w-100" data-aos="zoom-in" data-aos-duration="200">
                            Agregar prendas
                        </button>
                    </div>
                }
                <div class="clothing-slot col-4 p-0">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone h-100 w-100" data-aos="zoom-in" data-aos-duration="200">
                        <ngx-dropzone-label><i class="bi bi-suitcase-lg-fill"></i></ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                    *ngFor="let f of files" [file]="f" [removable]="true"
                                                    (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="clothing-slot col-4 p-0">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone h-100 w-100" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="50">
                        <ngx-dropzone-label><i class="bi bi-suitcase-lg-fill"></i></ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                    *ngFor="let f of files" [file]="f" [removable]="true"
                                                    (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="clothing-slot col-4 p-0">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone h-100 w-100" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="100">
                        <ngx-dropzone-label><i class="bi bi-suitcase-lg-fill"></i></ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                    *ngFor="let f of files" [file]="f" [removable]="true"
                                                    (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="clothing-slot col-4 p-0">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone h-100 w-100" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="150">
                        <ngx-dropzone-label><i class="bi bi-suitcase-lg-fill"></i></ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                    *ngFor="let f of files" [file]="f" [removable]="true"
                                                    (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
                <div class="clothing-slot col-4 p-0">
                    <ngx-dropzone (change)="onSelect($event)" class="dropzone h-100 w-100" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200">
                        <ngx-dropzone-label><i class="bi bi-suitcase-lg-fill"></i></ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                                    *ngFor="let f of files" [file]="f" [removable]="true"
                                                    (removed)="onRemove(f)">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <button type="submit"
                    class="btn button-default">Guardar
            </button>
        </div>
    </div>

</form>