<form [formGroup]="confirmationForm" class="row">
    <div>
      <h2 class="mb-2">Confirmar Operación</h2>
    </div>
    <div class="mb-2">
       <p>Esta operación es irreversible. ¿Está seguro que desea eliminar la cuenta?</p>
    </div>
      
    <div class="d-flex justify-content-end">
      <button (click)="deleteAccount()" class="btn btn-outline-primary mx-3" type="button">Sí</button>
      <button (click)="closeModal()" class="btn button-default" type="button">No</button>
    </div>
  </form>
