<div class="d-flex justify-content-center align-items-center mb-2">
    <h5 class="title-format">Mira lo que te recomendamos</h5>
</div>

<div class="card-custom shadow-sm">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <!-- Swiper Carrusel -->
        <swiper-container class="swiper-style" pagination="true" grab-cursor="true" loop="true" slides-per-view="1"
            speed="600" autoplay="true" effect="slide" rewind="true">
            @for (item of clothing; track $index) {
            <swiper-slide class="w-100 d-flex justify-content-center">
                <img src="{{item.imageUrl}}" class="w-75 h-75" alt="clothing-image">
            </swiper-slide>
            }
        </swiper-container>
    </div>

    <!-- Botón de Acción (placeholder según diseño original) -->
    <button>
        <i class="bi bi-arrow-clockwise edit"></i>
    </button>
</div>