<div class="card-custom shadow-sm bg-gradient" style="background-color: #cd6969">
    <div class="d-flex justify-content-center align-items-center bg-gradient w-100 h-100">
        <h2 class="inner-text-styles">{{this.collection.name}}</h2>
    </div>
    <button (click)="modalService.displayModal('md', EditCollectionModal)">
        <i class="bi bi-pencil-square edit"></i>
    </button>
    <button (click)="modalService.displayModal('md', DeleteCollectionModal)"><i
            class="bi bi-trash3 custom-icon delete"></i></button>
</div>

<ng-template #EditCollectionModal>
    <app-modal [hideFooter]="true">
        <app-collections-edit [collection]="collection"></app-collections-edit>
    </app-modal>
</ng-template>


<ng-template #DeleteCollectionModal>
    <app-modal [hideFooter]="true">
        <div>
            <app-confirmation-form-collections [collection]="collection"/>
        </div>
    </app-modal>
</ng-template>