<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">

    <div class="login-card">
      <div class="w-100">
        <div class="float-right d-flex justify-content-end mt-2">
          <a href="/login"><i class="fa-solid fa-xmark fa-2x" style="color:black; margin-right: 25px;"></i></a>
        </div>
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img width="500" class="img-fluid" src="../../../../assets/icons/logo.jpg" alt="Logo" />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm">
            <div class="text-center">
              <h2>Registro de usuarios</h2>
            </div>

            <div style="background-color: #F4F4F4; padding:2% 4%;">
              <div class="form-group px-1 mb-4">
                <div class="row  align-items-center">
                  <!--INICIO Nombre del usuario-->
                  <div class="col-md-2 text-end">
                    <label for="name" class="col-form-label">
                      Nombre:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input #name="ngModel" style="border-radius: 6PX;" type="text" class="form-control text-center"
                      id="name" name="name" placeholder="Nombre*" [(ngModel)]="user.name" [ngClass]="{
                      'is-invalid': name.invalid && name.touched,
                      'is-valid': name.valid && name.touched
                    }" required />
                    <div *ngIf="name.invalid" class="invalid-feedback padding-bottom-md">
                      El nombre es requerido
                    </div>
                  </div>
                  <!--FIN Nombre del usuario-->

                  <!--INICIO del correo electronico-->
                  <div class="col-md-3 text-end">
                    <label for="email" class="col-form-label">
                      Correo electrónico:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input #email="ngModel" type="text" class="form-control text-center" id="email" name="email"
                      placeholder="Correo electrónico*" [(ngModel)]="user.email" [ngClass]="{
                      'is-invalid': email.invalid && email.touched,
                      'is-valid': email.valid && email.touched
                    }" required email />
                    <div *ngIf="email.invalid" class="invalid-feedback">
                      El correo electrónico es requerido
                    </div>
                  </div>
                  <!--FIN del correo electronico-->
                </div>
              </div>



              <div class="form-group px-1 mb-4">
                <div class="row  align-items-center">
                  <!--INICIO de los apellidos-->
                  <div class="col-md-2 text-end">
                    <label for="lastname" class="col-form-label">
                      Apellidos:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input #lastname="ngModel" type="text" class="form-control text-center" id="lastname"
                      name="lastname" placeholder="Apellidos*" [(ngModel)]="user.lastname" [ngClass]="{
                    'is-invalid': lastname.invalid && lastname.touched,
                    'is-valid': lastname.valid && lastname.touched
                  }" required />
                    <div *ngIf="lastname.invalid" class="invalid-feedback">
                      El apellido es requerido
                    </div>
                  </div>
                  <!--FIN de los apellidos-->

                  <!--INICIO de la direccion-->
                  <div class="col-md-3 text-end">
                    <label for="direction" class="col-form-label">
                      Dirección:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input #direction="ngModel" type="text" class="form-control text-center" id="direction"
                      name="direction" placeholder="Dirección*" [(ngModel)]="user.direction" [ngClass]="{
                    'is-invalid': direction.invalid && direction.touched,
                    'is-valid': direction.valid && direction.touched
                  }" required />
                    <div *ngIf="direction.invalid" class="invalid-feedback">
                      El dirección es requerida
                    </div>
                  </div>
                  <!--FIN de la direccion-->
                </div>
              </div>

              <div class="form-group px-1 mb-3">
                <div class="row">
                  <!--INICIO de la contraseña-->
                  <div class="col-md-2 text-end">
                    <label for="password" class="col-form-label text-end">
                      Contraseña:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input maxlength="16" #password="ngModel" [type]="showPassword ? 'text' : 'password'"
                      class="form-control text-center" id="password" name="password" placeholder="******"
                      [(ngModel)]="user.password" (keyup)="validatePassword()" [ngClass]="{
                        'is-invalid': password.invalid && password.touched && !validatePassword(),
                        'is-valid': password.valid && password.touched && validatePassword()
                  }" required minlength="8" />
                    <div class="row align-items-center">
                    </div>
                    <div *ngIf="!validatePassword()" class="text-danger">
                      <ul>
                        <li *ngFor="let message of passwordValidationMessages">{{ message }}</li>
                      </ul>
                    </div>
                  </div>

                  <!--FIN de la contraseña-->

                  <div class="col-1">
                    <button type="button" (click)="showPassword = !showPassword" class="eye-button">
                      <i *ngIf="!showPassword" class="fa fa-eye"></i>
                      <i *ngIf="showPassword" class="fa fa-eye-slash"></i>
                    </button>
                  </div>


                  <!--INICIO de la fecha de nacimiento-->
                  <div class="col-md-2 text-end">
                    <label for="dateOfBirth" class="col-form-label">
                      Fecha de nacimiento:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input #dateOfBirth="ngModel" type="date" class="form-control text-center" id="dateOfBirth"
                      name="dateOfBirth" placeholder="Fecha de nacimiento*" (change)="validateDate()"
                      [(ngModel)]="user.dateOfBirth" [ngClass]="{
                        'is-invalid': dateOfBirth.invalid && dateOfBirth.touched && !validateDate(), 
                        'is-valid': dateOfBirth.valid && dateOfBirth.touched && validateDate()
                      }" required />
                    <div *ngIf="dateOfBirth.invalid" class="invalid-feedback">
                      La fecha de nacimiento es requerida
                    </div>
                    <div *ngIf="!validateDate()" class="text-danger">
                      {{ validationMessageDate }}
                    </div>
                  </div>
                  <!--FIN de la fecha de nacimiento-->
                </div>
              </div>
              <div class="form-group px-1 mb-3">
                <div class="row">
                </div>
              </div>
              <div class="form-group px-1 mb-3">
                <div class="row">
                  <!--INICIO de la confirmacion de la contarseña-->
                  <div class="col-md-2 text-end">
                    <label for="confirmPassword" class="col-form-label">
                      Confirmación de la contraseña:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <input [disabled]="!validatePassword()" maxlength="16" #confirmPassword="ngModel"
                      [type]="showConfirmPassword ? 'text' : 'password'" class="form-control text-center"
                      id="confirmPassword" name="confirmPassword" placeholder="********"
                      [(ngModel)]="user.confirmPassword" [ngClass]="{
                    'is-invalid': confirmPassword.invalid && confirmPassword.touched && !validateConfirmPassword(),
                    'is-valid': confirmPassword.valid && confirmPassword.touched && validateConfirmPassword()
                  }" required minlength="8" (change)="!validateConfirmPassword()" />
                    <div *ngIf="validatePassword() && (!validateConfirmPassword() || confirmPassword.invalid)"
                      class="text-danger mt-1">
                      {{differentPassword}}
                    </div>

                  </div>
                  <div class="col-1">
                    <button type="button" (click)="showConfirmPassword = !showConfirmPassword" class="eye-button">
                      <i *ngIf="!showConfirmPassword" class="fa fa-eye"></i>
                      <i *ngIf="showConfirmPassword" class="fa fa-eye-slash"></i>
                    </button>
                  </div>


                  <!--INICIO de la foto de perfil-->
                  <div class="col-md-2 text-end">
                    <label for="picture" class="col-form-label">
                      Foto de perfil del usuario:
                    </label>
                  </div>
                  <div class="col-md-3">
                    <ngx-dropzone (change)="onSelect($event)" [accept]="'image/*'">
                      <ngx-dropzone-label>Click para subir la imagen</ngx-dropzone-label>
                      <ngx-dropzone-image-preview style="width: 100%;" ngProjectAs="ngx-dropzone-preview"
                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                      </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    <div *ngIf="photoErrorMessage" class="text-danger">
                      {{ photoErrorMessage }}
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group mb-0 text-center">
                <button [disabled]="!isFormValid" class="btn button-default"
                  style="padding-right:60px; padding-left:60px" type="submit">
                  Registrarse
                </button>
                @if(signUpError) {
                <p class="text-danger">{{signUpError}}</p>
                } @else if (validSignup){

                <p class="text-success success-snackbar" (click)="redirectToLogin()">Usuario registrado con exito</p>

                }
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>