<div class="card shadow-sm card-custom" style="width: 18rem; ">
  <div class="card-body">
    <div class="img-container">
      <img class="image-format" src="{{this.clothing.imageUrl}}" alt="Card image cap">
    </div>
      <h5 class="card-title mb-3 ">{{ this.clothing.name }}</h5>
    <div class="card-text mb-1"
    *ngIf="associatedUser">
      <img
        style="border-radius: 50px; object-fit: cover;"
        width="30px"
        height="30px"
        src="{{associatedUser.picture}}"
      />
      {{ associatedUser.name }} {{ associatedUser.lastname }}
    </div>

    <div class="rating mb-3">
      <ng-container *ngFor="let star of stars; let i = index">
        <i 
          class="fa" 
          [class.fa-star]="i < selectedRating" 
          [class.fa-star-o]="i >= selectedRating" 
          (click)="rate(i + 1)" 
          (mouseover)="hoverRating(i + 1)" 
          (mouseleave)="hoverRating(selectedRating)">
        </i>
      </ng-container>
    </div>
    <p *ngIf="selectedRating">Rating: {{ selectedRating }} stars</p>

    <a (click)="modalService.displayModal('md', ClothingLoanModal)" class="btn btn-primary">Solicitar Prenda</a>
  </div>

  
</div>

<ng-template #ClothingLoanModal>
  <app-modal [hideFooter]="true">
    <div>
      <app-clothing-edit
        [clothing]="clothing"
        [vclothingType]="clothingTypeData"
      />
    </div>
  </app-modal>
</ng-template>
