@import "../../../../assets/functions/functions.scss";
@import "../../../../assets/variables/variables.scss";


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

.image-format {
  max-width: 70%;
  max-height: 70%;
  margin: 2em 0;
  object-fit: contain;
}

.card-custom {
  width: 450px;
  height: 470px;
  border-radius: 1vmin;
  position: relative;
  background-color: white;

  &:hover {
    .image-format {
      transition: transform 0.2s ease-in-out, max-width 0.2s ease-in-out, max-height 0.2s ease-in-out;
      max-width: 75%;
      max-height: 75%;
    }
  }
}


ul li{
  list-style: none;
}

.btn{
  background-color: $accent-default;
  color: white;
  border: none;
  padding: 0.5em;
}




// rating
.rating {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.rating .fa {
  font-size: 24px;
  color: #ffc107; /* Gold color for stars */
}

.rating .fa-star-o {
  color: #ccc; /* Gray for unselected stars */
}
