<div class="card shadow-sm" style="width: 18rem; height: 462px;">
  <div class="card-body">
    <img class="card-img-top" src="{{this.clothing.imageUrl}}" alt="Card image cap">
    <h5 class="card-title mb-3 ">{{ this.clothing.name }}</h5>
    <div class="card-text mb-1"
    *ngIf="associatedUser">
      <img
        style="border-radius: 50px; object-fit: cover;"
        width="30px"
        height="30px"
        src="{{associatedUser.picture}}"
      />
      {{ associatedUser.name }} {{ associatedUser.lastname }}
    </div>

    <div class="rate mb-3 px-0">
      <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>

    <a (click)="modalService.displayModal('md', ClothingLoanModal)" class="btn btn-primary">Solicitar Prenda</a>

  </div>
</div>

<ng-template #ClothingLoanModal>
  <app-modal [hideFooter]="true">
    <div>
      <app-clothing-edit
        [clothing]="clothing"
        [vclothingType]="clothingTypeData"
      />
    </div>
  </app-modal>
</ng-template>
