<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6 shadow-lg p-5 rounded rounded-lg">
            <form [formGroup]="form">
                <label for="email" class="form-label text-secondary fst-italic"><small>Ingresa el Correo Electrónico
                    Asociado</small></label>
                <input formControlName="myInput" id="email" type="email" placeholder="example@myemail.com" class="px-2">
                <button (click)="callSendEmail()" class="mt-3 btn button-default" type="button">Enviar Confirmación</button>
            </form>
        </div>
    </div>
</div>