@import "../../../assets/variables/variables.scss";

body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #CFD8DC;
    background-repeat: no-repeat;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px;
}

.time-font {
    font-size: 50px;
}

.sm-font {
    font-size: 18px;
}

.med-font {
    font-size: 28px;
}

.large-font {
    font-size: 60px;
}

.colorFont{
    color:#fff;
}

.right-align {
    margin-left: auto;
    margin-right: 0;
}

.left-align {
    margin-left: 0;
    margin-right: auto;
}

.input-group-text{
    background-color: $accent-disabled;
    color: $accent-default;
    border: 1px solid $accent-hovered;
}

.form-control{
    border-color: $accent-hovered;
}