<div>
    <div class="px-4 py-5 d-flex justify-content-between">
        <h1> Clima</h1>
    </div>
    
    <form>
        <div class="row">
            <div class="col-5 offset-3">
                <div class="input-group mx-5">
                    <div class="input-group-prepend">
   
                    </div>
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Buscar..."
                        aria-label="Search"
                        name="cityName"
                        [(ngModel)]="city"
                        
                    />
                    <button type="button" class="btn button-default" style="margin-left: 50px;" (click)="getWeather()">Obtener clima</button>
                </div>
                
            </div>

        </div>
        
    </form>

</div>

<div class="container-fluid px-1 px-md-4 py-5 mx-auto colorFont">

    <div class="row d-flex px-3">
        <div class="column left-align" style="width: 40%;">
            <google-map height="450px"
                    width="800px"
                    [center]="center"
                    [zoom]="zoom"
                    (mapClick)="moveMap($event)"
                    (mapMousemove)="move($event)"
                    (mapClick)="onMapClick($event)">
            </google-map>


        </div>
        <div class="card right-align" [style.background-image]="'url(' + imageUrl + ')'">
            <div *ngIf="weatherData">
                <h2 class="ml-auto mr-4 mt-3 mb-0">{{weatherData.name}}</h2>
                <p class="ml-auto mr-4 mb-0 med-font">{{weatherData.description}}</p>
                <h1 class="ml-auto mr-4 large-font">{{weatherData.feels_like}}&#176;</h1>
                <p class="time-font mb-0 ml-4 mt-5">{{militaryTime}}</p>
                <p class="sm-font ml-4 mb-4">{{formattedDate}}</p>
            </div>
        </div>

    </div>
</div>



