<div>
    <h1> Clima</h1>

    <form>
        <input type="text" name="cityName" [(ngModel)]="city">
        <button type="button" class="btn button-default" (click)="getWeather()">Obtener clima</button>
    </form>

</div>

<div class="container-fluid px-1 px-md-4 py-5 mx-auto colorFont">
    <div class="row d-flex justify-content-center px-3">
        <div class="card right-align" [style.background-image]="'url(' + imageUrl + ')'">
            <div *ngIf="weatherData">
                <h2 class="ml-auto mr-4 mt-3 mb-0">{{weatherData.name}}</h2>
                <p class="ml-auto mr-4 mb-0 med-font">{{weatherData.description}}</p>
                <h1 class="ml-auto mr-4 large-font">{{weatherData.feels_like}}&#176;</h1>
                <p class="time-font mb-0 ml-4 mt-5">{{militaryTime}}</p>
                <p class="sm-font ml-4 mb-4">{{formattedDate}}</p>
            </div>
        </div>
    </div>
</div>