<div class="media profile-media d-flex align-items-center">
  <div class="media-body"><span>{{userName}}</span>
  </div>
    <img src="{{picture}}" alt="user-image" style="width: 40px; height: 40px;" class="rounded-circle ms-4">
</div>
<ul class="profile-dropdown onhover-show-div p-2" style="list-style: none">
  <li routerLink="profile"><i class="fa-solid fa-user-tie"></i><span class="ms-2">Perfil</span></li>
  <li (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i><span class="ms-2">Cerrar sesión</span></li>
</ul>