@import "../../../../../assets/functions/functions.scss";

.text-card-format{
  font-weight: lighter;
}

.card-format{
  position: relative;
  border-radius: 1vmin;
  width: 100%;
  height: 161px;
  &:hover{
    .image-format{
      transition: transform 0.2s ease-in-out, max-width 0.2s ease-in-out, max-height 0.2s ease-in-out;
      width: 75%;
      height: 75%;
    }
  }
}

.image-format{
  width: 70%;
  height: 70%;
}

.card-checkbox {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 15%;
  border-radius: 0.5vmin;
  border: 1px solid gray;
  background-color: white;
}

.card-checkbox-active {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 15%;
  border-radius: 0.5vmin;
  padding: 0 0 0 1.5%;
  background-color: vcloset-color(accent-default);
  border-width: 0;
  .check-color{
    width: 90%;
    color: white;
  }
}